:root{
    --p-color: #008EA8;
}

.overallContainer{
    width: 100%;
}

.container{
    display: flex;
    /* width: 100%; */
    gap: 30px;
}

.admindash{
    width: 100%;
    height: auto;
    background-color: #fff;
    color: #000;
    /* padding: 20px 0px; */
}

.dashboard1{
    width: 25%;
    height: 600px;
    background-color: #fff;
    color: #000;
}

.dashboardItems{
    /* width: 75%; */
    /* padding: 0px 15px; */
    align-items: center;
}

.dash{
    color: var(--p-color);
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

.list4{
    font-size: 13px;
    list-style: none;
    padding-left: 20px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    
}

.list5:hover{
    cursor: pointer;
    background-color: #eff9fb;
    color: var(--p-color);
    /* font-size: 20px; */
}

/* .list5{
    width: 250px;
    display: flex;
    justify-content: space-between;
} */

.mainlink{
    width: 260px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    cursor: pointer;
}

.mcol2{
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 5px;
    list-style: none;
}

.dashtext{
    font-size: 15px;
}

.itemsC{
    display: block;
}

.itemsD{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    position: absolute;
    padding: 40px;
    margin-top: -30px;

}

.help2{
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

.trans2{
    display: block;
}

.trans1{
    list-style: none;
    padding: 20px 0px 0px 20px;
    font-size: 15px;
    cursor: pointer;
}

.subairtime{
    margin-bottom: 15px;
}

/*Overview page*/
.over3{
    width: 75%;
    padding: 0px 15px;
}

/* .allusers{
    width: 75%;
    padding: 0px 15px
} */

.heading{
    font-size: 22px;
    font-weight: bold;
    /* margin-top: 30px; */
    /* padding-left: 15px; */
}

.wall{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    /* padding: 0px 15px; */
    width: 100%;
}

.wall1{
    width: calc(25% - 20px);
    /* height: 160px; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ddcece4d;
    /* padding: 25px; */
}

.wallet2{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 15px 15px;
}

.formcard{
    padding: 30px;
    width: 100%;
    height: 100%;
}

.chartDetails{
    width: 800px; 
    height: 300px;
}

.tabbutton{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 0px 20px 0px;
    
}

.formdet input{
    width: 550px;
    background-color: #fff;
    color: #000;
    padding: 0px 8px;
    border: 1px solid #e3e2e2;
    border-radius: 10px;
    /* box-shadow: 0 2px 5px #ddcece4d; */
    border-bottom: 1px solid #c3bbbbe0;
    font-size: 14px;
    line-height: 45px;
    box-sizing: content-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabBut{
    background-color: var(--p-color);
    color: #fff;
    width: 75px;
    height: 100%;
    /* line-height: 45px; */
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #9b9494b5;
    border-radius: 5px;
}

/*Suspicious Accounts*/
.suspense{
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 10px;
}

.maincard{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 940px;
    /* padding: 20px; */
}

.card{
    width: calc(75% - 20px);
    /* height: 160px; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ddcece4d;
}

.surname{
    font-size: 20px;
    font-weight: bold;
    padding: 0px 20px;
    margin-bottom: 10px;
    padding-top: 20px;
}

.address{
    font-size: 15px;
    padding: 0px 20px;
    margin-bottom: 10px;
}

.roller{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.role{
    font-size: 13px;
}

.role1{
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
}

.flagged{
    font-size: 14px;
    font-weight: bold;
    color: red;
    padding-left: 20px;
}

.status{
    font-size: 14px;
    font-weight: bold;
    color: #033803;
}

.status1{
    font-size: 14px;
    font-weight: bold;
    color: brown;
}

.confirm{
    display: flex;
    gap: 10px;
    padding: 20px;
}

.state{
    background-color: #bae774;
    color: #033803;
    width: 55px;
    height: 100%;
    border-radius: 8px;
    padding: 13px;
    font-size: 12px;
    font-weight: bold;
}

.state1{
    background-color: brown;
    color: #fff;
    width: 65px;
    height: 38px;
    border-radius: 8px;
    padding: 12px;
    font-size: 13px;
    font-weight: bold;
}

.ban{
   background-color: #fff;
    color: red;
    width: 50px;
    height: 100%;
    border: 1px solid red;
    border-radius: 8px;
    padding: 12px;
    font-size: 12px; 
    font-weight: bold;
}

.ban1{
   background-color: #fff;
    color: brown;
    width: 50px;
    height: 38px;
    border: 1px solid brown;
    border-radius: 8px;
    padding: 12px;
    font-size: 13px; 
    font-weight: bold;
}

/*Airtime page*/
.subscriptions{
    width: 75%;
    padding: 0px 15px;
    margin-bottom: 20px;
}

.subtitle{
    margin-bottom: 20px;
}

.subtitle1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

/* .freebiecard{
    width: 100px;
    height: auto;
    background-color: var(--p-color);
    color: #fff;
    border: 1px solid var(--p-color);
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
} */

.firsttable{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.secondtable{
    background-color: #e3ffe3; 
    /* background-color: rgba(14, 28, 60, 0.05); */
    display: flex;
    margin-bottom: 15px;
    padding: 20px;
    border-bottom: 1px solid #c3bbbbe0;
}

.fourthtable{
    background-color: #e3ffe3; 
    /* background-color: rgba(14, 28, 60, 0.05); */
    display: flex;
    margin-bottom: 15px;
    padding: 20px;
    border-bottom: 1px solid #c3bbbbe0;
}

.mainproduct{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sales{
    font-size: 22px;
    font-weight: bold;
}

.sales1{
    background-color: var(--p-color);
    color: #fff;
    width: 70px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid var(--p-color);
    border-radius: 5px;
    text-align: center;
    padding: 6px;
    
}

.size1{
    font-size: 12px;
    width: 20%;
    text-align: left;
}

.thirdtable{
    width: 100%;
    /* height: 90px; */
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid #c3bbbbe0;
    gap: 10px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    /* text-align: center; */
}

.thirdtable1{
    width: 100%;
    /* height: 90px; */
    background-color: #e3ffe3;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid #c3bbbbe0;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    /* text-align: center; */
}

.freebiecard1{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--p-color);
    color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    padding: 6px;
    box-shadow: 0 2px 5px #ddcece4d;
    font-size: 12px;
}

.addlogo{
    width: 13px;
    height: 16px;
}

.addbutton{
    background-color: #fff;
    color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 8px;
}

.plus{
    font-size: 15px;
}

.datA{
    width: 20%;
    text-align: left;
    /* font-size: 13px; */
}

.paidlogo{
    display: flex;
    align-items: center;
    width: 20%;
    text-align: left;
}

.tranx, .proD, .net, .title, .reach, .value, .sit, .sit1, .sit2, .duration{
    width: 20%;
    text-align: left;
}

.verify1{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 22%;
    text-align: left;
    /* width: 50px; */
    height: 25px;
}

.editimg{
    width: 23px;
    height: 23px;
}

.editinfo{
    color: var(--p-color);
    font-size: 15px;
}

.deleteinfo{
    color: red;
    font-size: 15px;
}


.sit{
    color: green;
    font-size: 16px;
    font-weight: bold;
}

.sit1{
    color: brown;
    font-size: 16px;
    font-weight: bold;
}

.sit2{
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.supportMessage{
    width: 75%;
    padding: 0px 15px;
}

.messageDetail{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
}

.header1{
    font-size: 22px;
    font-weight: bold;

}

.image2{
     width: 26px;
    height: 26px;
}

.image3{
     width: 18px;
    height: 18px;
}

.img1{
    width: 100%;
    height: 100%;
    color: #000;
}

.incomingImg{
    width: 100%;
    height: 350px;
    padding: 20px;
    /* background-color: #fff; */
    border: 1px solid rgba(14, 28, 60, 0.05);;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 30px;
}

.supportBorder{
    width: 100%;
    height: 90px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* border-bottom: 1px solid #c3bbbbe0; */
    margin-top: 20px;
}

.user{
    font-size: 15px;
}

.incomingImg2{
    width: 100%;
    height: 330px;
    padding: 20px;
    /* background-color: #fff; */
    border: 1px solid rgba(14, 28, 60, 0.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}

.user span{
    font-weight: bold;
}

.user1{
    font-size: 15px;
    margin-top: 10px;
}

.userMail input{
    width: 100%;
    height: 45px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 15px;
}

.textsms{
    width: 100%;
    height: 100px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 15px;
}

.sendButton1{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 12px;
    /* margin-bottom: 30px; */
}

.sendButton{
    width: 125px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.reply{
    font-size: 15px;
}

.paymentForm{
    margin: 0 auto;
    width: 100%;
}

.incomingImg3{
    width: 100%;
    height: auto;
    padding: 20px;
    /* background-color: #fff; */
    border: 1px solid rgba(14, 28, 60, 0.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.formInput{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.formInput label{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

.formInput input{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 15px;
}

.sendButton2{
    width: 125px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.log{
    width: 75%;
    padding: 0px 15px;
}

.timestamp{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
}

.manageRole{
    width: 75%;
    padding: 0px 15px;
}

.roleContainer{
    width: 100%;
    height: auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.roleDetails{
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
}

.roleDetails1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rolename{
    font-size: 15px;
    font-weight: bold;
}

.roleDetails1 input{
    width: 450px;
    height: auto;
    font-size: 15px;
    padding: 10px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 30px;
}

.addDetail{
    width: 125px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.super{
    font-size: 18px;
    font-weight: bold;
}

.allAccess{
    font-size: 16px;
    color: #707070;
}

.electSearch{
    display: flex;
    align-items: center;
    gap: 25px;
    /* padding: 20px; */
    /* padding: 0px 15px; */
}

/* .selectSearch1{
    display: flex;
    gap: 70px;
    align-items: center;

} */

.electSelect{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
     padding: 0px 0px 20px 0px;
    
}

.formDetail input{
    width: 500px;
    background-color: #fff;
    color: #000;
    padding: 0px 8px;
    border: 1px solid #e3e2e2;
    border-radius: 10px;
    /* box-shadow: 0 2px 5px #ddcece4d; */
    border-bottom: 1px solid #c3bbbbe0;
    font-size: 14px;
    line-height: 45px;
    box-sizing: content-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectopt{
    background-color: #fff;
    border-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 13px;
    width: 110px;
    height: 35px;
    padding: 0px 30px 0px 10px;
    box-sizing: content-box;
    margin: 0 auto;
}

  /*Service management section*/
    .serviceSearch{
        display: flex;
        align-items: center;
        gap: 40px;
        width: 100%;
        padding: 0px 0px 20px 0px;
    }

    .serviceSearch1{
        display: flex;
        align-items: center;
        gap: 40px;
        width: 100%;
        padding: 0px 0px 20px 0px;
    }

    .inputdet input{
        width: 550px;
        background-color: #fff;
        color: #000;
        padding: 0px 8px;
        border: 1px solid #e3e2e2;
        border-radius: 10px;
        /* box-shadow: 0 2px 5px #ddcece4d; */
        border-bottom: 1px solid #c3bbbbe0;
        font-size: 14px;
        line-height: 45px;
        box-sizing: content-box;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .inputdet2 input{
        width: 550px;
        background-color: #fff;
        color: #000;
        padding: 0px 8px;
        border: 1px solid #e3e2e2;
        border-radius: 10px;
        /* box-shadow: 0 2px 5px #ddcece4d; */
        border-bottom: 1px solid #c3bbbbe0;
        font-size: 14px;
        line-height: 45px;
        /* box-sizing: content-box; */
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .allBut{
        background-color: var(--p-color);
        color: #fff;
        width: 75px;
        height: 100%;
        /* line-height: 45px; */
        padding: 10px;
        text-align: center;
        font-size: 14px;
        border: 1px solid #9b9494b5;
        border-radius: 5px;
        text-align: left;
    }

    .slide1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .slideNetwork{
        font-size: 15px;
    }

    .networklogo{
        display: flex;
        flex-direction: column;
        width: 20%;
        margin-bottom: 30px;
    }

    .myMtn{
        width: 100%;
        height: 100%;
    }    

    .myMtn1{
        width: 23px;
        height: auto;
    }

    .myMtn2{
        width: 40px;
        height: auto;
        border-radius: 5px;
    }

    .networktype{
        font-size: 18px;
        font-weight: bold;
        /* margin-bottom: 5px; */
    }

    .networkStatus{
        font-size: 14px;
    }

    .buyprice{
        font-size: 15px;
        margin-bottom: 5px;
    }

    .networkval input{
        width: 80px;
        height: auto;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        padding: 10px;
        font-size: 15px;
        
    }

    .networkBut{
        background-color: red;
        color: #fff;
        width: 75px;
        height: 100%;
        /* line-height: 45px; */
        padding: 10px;
        text-align: center;
        font-size: 14px;
        border: 1px solid #9b9494b5;
        border-radius: 5px;
        font-size: 15px;
    }

    /*Cable TV Provider section*/
    .cableHolder{
        width: 100%;
        height: auto;
        padding: 20px;
        /* background-color: #fff; */
        border: 1px solid rgba(14, 28, 60, 0.05);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        margin-bottom: 20px;
        margin-top: 30px;
}

    .maingotv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .gotv{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .gotv1{
        font-size: 22px;
        font-weight: bold;
    }

    .gotv2{
        width: 60px;
        height: auto;
        background-color: #bae774;
        color: #033803;
        border: none;
        border-radius: 10px;
        padding: 5px;
        font-size: 13px;
        text-align: center;
    }

    .cabledetails{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .jollDetails{
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .joll1{
        font-size: 18px;
        font-weight: bold;
    }

    .joll2{
        font-size: 15px;
        color: #707070;
    }

    .nairaControl{
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .nairaSign{
        font-size: 18px;
        color: #707070;
    }

    .nairaInput input{
        width: 80px;
        height: auto;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        padding: 10px;
        font-size: 15px; 
    }

    .cableBut{
    background-color: red;
    color: #fff;
    width: 75px;
    height: 100%;
    /* line-height: 45px; */
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #9b9494b5;
    border-radius: 5px;
}

    .planText{
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .planContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    .planContainer2{
        display: flex;
        align-items: center;
        gap: 30px;

    }

    .planDetail input{
        width: 760px;
        height: auto;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        padding: 10px;
        font-size: 15px; 
    } 
    
    .planDetail2 input{
        width: 100px;
        height: auto;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        padding: 10px;
        font-size: 15px;   
    }

    .planBut{
        background-color: var(--p-color);
        color: #fff;
        width: 50px;
        height: 100%;
        /* line-height: 45px; */
        padding: 10px;
        text-align: center;
        font-size: 14px;
        border: 1px solid #9b9494b5;
        border-radius: 10px;
    }

    .movieUpload{
        font-size: 15px;
        text-align: center;
    }

    /*Elctricity Provider Management*/
    .electdisplay{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .electCharge{
        width: 23px;
        height: 20px;
    }
    
    .electopt{
        background-color: #e3e3e3b5;
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 5px;
        border: none;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .electopt1{
        background-color: #fff;
        width: 45px;
        height: 35px;
        text-align: center;
        font-size: 15px;
        border: none;
        padding: 9px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .electopt2{
        font-size: 15px;
        /* background-color: #fff;
        width: 60px;
        height: 35px;
        text-align: center;
        border: none;
        padding: 9px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    }

    .electopt3{
        font-size: 15px;
        /* background-color: #fff;
        width: 70px;
        height: 35px;
        text-align: center;
        border: none;
        padding: 9px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5px; */
    }

    .ikContainer{
        width: 100%;
        height: auto;
        padding: 25px;
        /* background-color: #fff; */
        border: 1px solid rgba(14, 28, 60, 0.05);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .ikedcshow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .ikName{
        font-size: 22px;
        font-weight: bold;
    }

    .toggleon{
        width: 40px;
        height: 20px;
    }

    .ikedcInput{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 30px;
    }

    .ikedcInput input{
        width: 90px;
        height: auto;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .mainhash{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .ikhash{
        font-size: 18px;
        font-weight: bold;
    }

    .ikhash2{
        color: #707070;
        font-size: 15px;
    }

    .ikUpdate{
        background-color: var(--p-color);
        color: #fff;
        width: 450px;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        border: none;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    /*Foreign Numbers Management*/
    .foreignrefresh{
        background-color: var(--p-color);
        color: #fff;
        width: 90px;
        height: 100%;
        font-size: 14px;
        text-align: center;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .datA1{
        width: 20%;
        text-align: left;
        font-size: 13px;
}

    .foreignEdit{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .foreignEdit1{
        font-size: 13px;
    }

    .size2{
        font-size: 12px;
        width: 20%;
        text-align: end;
    }  
    
    .foreignStatus1{
        width: 75px;
        height: auto;
        background-color: #bae774;
        color: #033803;
        border: none;
        border-radius: 10px;
        padding: 5px;
        font-size: 15px;
        text-align: center;
    }

    .foreignStatus2{
        width: 75px;
        height: auto;
        background-color: #ffc8c8;
        color: red;
        border: none;
        border-radius: 10px;
        padding: 5px;
        font-size: 15px;
        text-align: center;
    }

    .foreignAction{
        background-color: red;
        color: #fff;
        width: 80px;
        height: 100%;
        padding: 10px;
        text-align: center;
        font-size: 12px;
        border: 1px solid #9b9494b5;
        border-radius: 5px
    }

    .navbar1{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0e0b0bba;
  }


  .nav1{
    /* padding: 20px; */
    width: 70%;
    height: 100%;
    background-color: #fff;
    font-size: 16px;
    color: #fff;
    padding: 2px 8px;
    overflow-y: scroll;
  }

@media(max-width: 1024px){
    .mainlink{
        width: 200px;
    }
    .dashtext{
        font-size: 12px;
    }

    .subairtime{
        font-size: 12px;
    }
    
    /*Overview section*/
    .chartDetails{
        width: 500px;
        height: 250px;
    }

    .size1{
        font-size: 10px;
    }

    .tranx, .proD, .net, .title, .reach, .value, .sit, .sit1, .sit2, .duration{
        font-size: 12px;
    }

    .mainproduct{
        margin-top: 70px;
    }

    .nextB

    /*All users section*/
    .heading{
        font-size: 20px;
    }
    
    .formdet input{
        width: 450px;
    }

    .maincard{
        width: 720px;
    }

    .surname{
        font-size: 16px;
        padding: 0px 12px;
        padding-top: 20px;
    }

    .address{
        font-size: 12px;
        padding-left: 12px;
    }

    .status{
        font-size: 12px;
    }

    .roller{
        padding: 0px 12px;
    }

    .confirm{
        padding: 12px;
    }

    .state{
        width: 50px;
    }

/*Suspicious users section*/
    .role1, .flagged{
        font-size: 12px;
        padding-left: 12px;
    }

    .state1{
        width: 55px;
        height: 100%;
        padding: 10px;
        font-size: 12px;

    }

    .ban1{
        width: 45px;
        height: 100%;
        padding: 9px;
        font-size: 12px;
    }

    /*Elelctricity section*/
    .formDetail input{
        width: 300px;
    }

    .selectopt{
        width: 85px;
    }

    .datA{
        font-size: 12px;
    }

    /*Cable Provider section*/
    .planDetail input{
        width: 520px;
    }  
    
    .planContainer2{
        gap: 15px;
    }

    /*Electricity Provider section*/
    .inputdet2 input{
        width: 445px;
    }   

    /*Foreign Number APIs*/
    .foreignEdit{
        gap: 5px;
    }
    
    .foreignStatus2{
        width: 65px;
        font-size: 12px;
    } 

    .foreignStatus1{
        width: 60px;
        font-size: 12px;
    } 

    .foreignAction{
        width: 55px;
        font-size: 8px;
        padding: 9px;
    }

    .foreignEdit1{
        font-size: 12px;
    }

    /*Freebies management section*/
    .editimg{
        width: 16px;
        /* height: 14px; */
    }

    /*Admin roles section*/
    .roleDetails input{
        width: 300px;
    }
}

@media(min-width: 769px){
    .adminBar{
        display: none;
      }
}

@media(max-width: 768px){
    .subscriptions{
        width: 100%;
        
    }

    .overallContainer{
         padding: 0px 15px;
    }

    .container{
        display: contents;
    }

    .dashboard1{
        display: none;
    }

    .adminBar{
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 20px 20px 20px 0px;
    }

    .mainlist{
        padding: 15px;
    }

    .navlist{
        cursor: pointer;
        /* background-color: #eff9fb; */
        color: #000;
        /* list-style: none; */
        /* font-size: 20px; */
    }

    .navlink{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 80px;
        /* align-items: center; */
        cursor: pointer;
}

    .mainlist1{
        padding: 5px 10px;
        /* margin-top: 15px; */
        border-radius: 5px;
    }
    /*Overview section*/
    .over3{
        margin: 0 auto;
        width: 100%;
    }
    
    .wall1{
        width: calc(50% - 20px);
    }

    .scroll1{
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 70px;
    }

    .scroll2{
        width: 720px;
        padding: 0px 0px 15px;
    }

    .dashtext1{
        font-size: 15px;
    }

    .image1{
        width: 12px;
        height: 10px;
    }

    .col3:hover{
        /* color: #008EA8; */
        /* fill: #008EA8; */
        cursor: pointer;
    }


    /*Users section*/
    .trans4{
        display: block;
    }

    .trans3{
        list-style: none;
        padding: 20px 0px 0px 20px;
        font-size: 15px;
        cursor: pointer;
    }

    .subairtime1{
        color: #000;
        padding-bottom: 10px;
        font-size: 12px;
    }

    /*Freebie Management*/
    .freebiecard1{
        width: 120px;
        height: 40px;
        gap: 10px;
    }

    .addbutton{
        width: 27px;
        height: 27px;
    }

    .plus{
        font-size: 12px;
    }

    .addlogo{
        width: 12px;
        height: 13px;
    }

    /*Airtime Provider section*/
    .slide1{
        gap: 15px;
    }

    .myMtn2{
        width: 30px;
    }

    .slideNetwork{
        font-size: 13px;
    }

    .networktype{
        font-size: 15px;
    }

    .networkStatus{
        font-size: 12px;
    }

    .buyprice {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .networkval input {
        width: 55px;
        font-size: 11px;
    }

    .networkBut {
        width: 65px;
        font-size: 13px;
    }

    /*Cable Provider section*/
    .planDetail input {
        width: 470px;
    }

    .planContainer2{
        gap: 20px;
    }

    /*Electricity Provider section*/
    .serviceSearch1{
        justify-content: space-between;
        gap: 0px;
    }


    /*API Log*/
    .log{
        width: 100%;
    }

    .size1{
        font-size: 15px;
    }

    .datA{
        font-size: 13px;
    }

    .size2{
        font-size: 13px;
    }

    /*Support*/
    .supportMessage{
        width: 100%;
    }

    /*Payment section*/
    .header1{
        font-size: 18px;
    }

    .formInput label{
        font-size: 14px; 
    }
    
    .formInput input{
        font-size: 13px;
        height: auto;
    }

    .sendButton2{
        width: 100px;
        height: 30px;
        font-size: 13px;
    }

    /*Admin section*/
    .manageRole{
        width: 100%;
    }
    
    .roleDetails input{
        width: 100%;
    }

    .heading{
        font-size: 18px;
    }

    .addDetail{
        height: auto;
    }
}

@media(max-width: 425px){
    .subscriptions{
        padding: 0px;
    }

    .dashtext1{
        font-size: 12px;
    }
    
    .scroll2{
        width: 660px;
    }

    .thirdtable{
        gap: 0px;
    }

    /*Overview section*/
    .sales{
        font-size: 16px;
    }

    .sales1{
        width: 65px;
        height: auto;
        font-size: 12px;
    }

    .size1{
        font-size: 13px;
    }

    .datA{
        font-size: 12px;
    }

    .size2{
        font-size: 12px;
    }

    /*Electricity section*/
    .electSearch{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
    }
    
    .tabbutton{
        justify-content: space-between;
        padding: 0px;
    }

    .formDetail input{
        width: 100%;
    }

    .selectopt{
        width: 100%;
    }
    
    /*Suspicious accounts*/
    .maincard {
        width: 100%;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .card{
        width: 100%;
    }

    /*Freebies Management section*/
    .heading{
        font-size: 16px;
    }
    
    .freebiecard1 {
        width: 100px;
        height: auto;
        gap: 7px;
    }

    .plus{
        font-size: 10px;
    }
    
    .editinfo, .deleteinfo{
        font-size: 12px;
    }
    
    /*Support*/
    .incomingImg{
        height: auto;
    }

    .incomingImg2{
        height: auto;
    }

    .supportBorder{
        height: auto;
    }
    
    .image2{
        width: 20px;
        height: 20px;
    }

    .user, .user1{
        font-size: 13px;
    }

    .userMail input{
        height: auto;
        font-size: 13px;
    }

    .sendButton{
        width: 105px;
        height: auto;
    }

    .textsms{
        height: 70px;
        font-size: 13px;
    }

    .image3 {
        width: 15px;
        height: 15px;
    }

    .reply{
        font-size: 13px;
    }
    
    /*Admin roles section*/
    .roleContainer{
        margin-top: 20px;
        margin-bottom: 20px
    }
    
    .roleDetails{
        flex-direction: column;
    }
    
    .roleDetails input{
        width: 100%;
        font-size: 12px;
    }

    .addDetail{
        width: 80px;
        font-size: 13px;
    }

    .allAccess{
        font-size: 13px;
    }

    .super{
        font-size: 16px;
    }

    /*Payment section*/
    .header1{
        font-size: 16px;
    }

    .formInput label{
        font-size: 13px;
    }
    
    .formInput input{
        font-size: 12px;
    }

    .sendButton2{
        width: 100px;
        height: 30px;
        font-size: 12px;
    }

    /*Airtime Providers section*/
    .serviceSearch{
        justify-content: space-between;
    }
    
    .inputdet input{
        width: 100%;
        font-size: 12px;
        height: auto;
    }

    .allBut{
        font-size: 12px;
    }

    /*Cable Provider section*/
    .cableHolder{
        margin-top: 0px;
    }
    
    .gotv1 {
        font-size: 18px;
    }

    .gotv2{
        width: 50px;
        font-size: 11px;
    }

    .cableBut{
        width: 60px;
        font-size: 12px;
    }

    .joll1{
        font-size: 15px;
    }

    .joll2{
        font-size: 12px;
    }

    .nairaSign{
        font-size: 15px;
    }

    .nairaInput input{
        width: 65px;
        font-size: 12px;
    }

    .planText{
        font-size: 15px;
    }

    .planContainer{
        flex-direction: column;
        align-items: normal;
    }

    .planContainer2{
        width: 100%;
        justify-content: space-between;
    }

    .planDetail input {
        width: 100%;
        font-size: 12px;
    }

    .planDetail2 input {
        width: 100%;
        font-size: 12px;
    }

    .planBut{
        width: 45px;
        padding: 9px;
        font-size: 12px;
        border-radius: 5px;
    }

    /*Electricity Provider section*/
    .serviceSearch1{
        flex-direction: column;
        align-items: normal;
        gap: 10px;
    }

    .inputdet2{
        width: 100%;
    }

    .inputdet2 input {
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    .ikContainer{
        margin-top: 20px;
    }

    .ikedcInput input{
        width: 75px;
    }

    .electopt{
        width: 230px;
    }

    .toggleon {
        width: 31px;
        height: 31px;
    }

    .ikName{
        font-size: 18px;
    }

    .ikUpdate{
        width: 100%;
    }

}

@media(max-width: 375px){
    .dashboard1{
        font-size: 10px;
    }

    .dashtext1{
        font-size: 10px;
    }

    .subairtime1{
        font-size: 11px;
    }
    
    .sendButton2{
        width: 80px;
        height: 25px;
        font-size: 11px;
    }

    /*Airtime Provider*/
    .networktype{
        font-size: 13px;
    }

    .networkStatus{
        font-size: 10px;
    }

    .buyprice{
        font-size: 11px;
    }

    .networkval input {
        width: 50px;
        font-size: 10px;
    }

    .networkBut {
        width: 55px;
        font-size: 11px;
    }

    /*Cable Provider section*/
    .gotv1{
        font-size: 15px;
    }

    .gotv2{
        font-size: 10px;
        width: 45px;
    }

    .joll1{
        font-size: 13px;
    }

    .joll2{
        font-size: 10px;
    }

    .planText{
        font-size: 13px;
    }

    .planDetail input{
        font-size: 10px;
    }

    .planDetail2 input{
        font-size: 10px;
    }

    /*Electricity Provider section*/
    .ikName{
        font-size: 15px;
    }
    
    .ikedcInput input{
        width: 60px;
        font-size: 12px;
    }

    .ikhash{
        font-size: 15px;
    }

    .ikhash2{
        font-size: 12px;
    }

    .ikUpdate {
        width: 100%;
        font-size: 12px;
    }

    .electopt1{
        font-size: 12px;
    }

    .electopt2, .electopt3{
        font-size: 12px;
    }

    /*Suspicious accounts*/
    .heading{
        font-size: 14px;
    }

    .surname{
        font-size: 13px;
    }

    .role1, .flagged {
        font-size: 11px;
    }

    /*Admin section*/
    .addDetail{
        width: 70px;
        font-size: 12px;
    }
}

@media(max-width: 320px){
    .nav1{
        width: 80%;
    }
    
    .super{
        font-size: 14px;
    }
    
    .allAccess{
        font-size: 12px;
    }

    .heading{
        font-size: 13px;
    }

    /*Airtime Providers section*/
    .subscriptions{
        padding: 0px;
    }

    .slideNetwork {
        font-size: 11px;
    }

    .myMtn1{
        width: 17px;
    }
    
    .networktype {
        font-size: 12px;
    }

    /*Cable Provider section*/
    .cableBut {
        width: 55px;
        font-size: 11px;
    }
    
    .nairaInput input {
        width: 50px;
        font-size: 10px;
    }

    /*Freebies management section*/
    .freebiecard1 {
        width: 80px;
    }
    
    .addbutton{
        width: 24px;
        height: 24px;
    }

    .addlogo {
        width: 9px;
        height: 11px;
    }

    .plus{
        text-align: center;
    }

    .size1{
        font-size: 12px;
    }

    /*Support section*/
    .header1{
        font-size: 14px;
    }

    .userMail input{
        font-size: 11px;
    }

    .textsms{
        font-size: 11px;
    }

    .user, .user1{
        font-size: 11px;
    }

    .sendButton{
        width: 93px;
    }

    .image3 {
        width: 12px;
        height: 13px;
    }
    
    .reply{
        font-size: 11px;
    }
}