*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(14, 28, 60, 0.05);
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.feed{
    width: 100%;
    max-width: 700px;
    position: relative;
    margin: 0 auto;
}

.form{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    /* width: 100%; */
    width: 850px;
    height: 600px;
    margin: 0 auto;
    margin-left: -80px;
    
}

.formControl{
    padding: 40px;
}

.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: -10px;
    margin-bottom: 40px;
}


.one{
    background-color: #008EA8;
    color: #fff;
    width: 45px;
    height: 43px;
    border-radius: 28px;
    padding: 12px;
    text-align: center;
}

.bord{
    background-color: #008EA8;
    width: 315px;
    height: 6px;
    border-radius: 5px;
}

.two{
    background-color: #008EA8;
    color: #fff;
    width: 45px;
    height: 43px;
    border-radius: 28px;
    padding: 12px;
    text-align: center;
}

.bord1{
    background-color: #e3e2e2;
    width: 315px;
    height: 6px;
    border-radius: 5px;
      
}

.three{
    background-color: #e3e2e2;
    color: #707070;
    width: 45px;
    height: 43px;
    border-radius: 28px;
    padding: 12px;
    text-align: center;
}
.formDetails{
    margin-top: 15px;
    position: relative;
}

.formDetails label{
    font-weight: bold;
}

.formDetails input{
    background-color: #fff;
    border-style: none;
    /* color: #000; */
    /* border: 1px solid #2c2b2b; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 15px;
    line-height: 48px;
    padding: 0 16px;
    width: 740px;
    box-sizing: content-box;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon{
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-bottom: 35px;
    margin-left: -5px;
}

.icon1{
    width: 35px;
    height: 30px;
    padding: 2px;
    background: none;
}

.icon2{
    width: 100%;
    height: 100%;
    color: #000;
    /* background-color: blue; */
}

.cont{
    font-size: 25px;
    font-weight: bold;
}

.downline{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.back{
    color: #000;
    text-decoration: none;
}

.continue1{
    background-color: #008EA8;
    width: 120px;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    padding: 14px;
}

.continue{
    color: #fff;
    text-decoration: none;
}

.copyright{
    color: #707070;
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.copyright span{
    margin-left: 20px;
}


/*Business Information section*/
.form1{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    /* width: 100%; */
    width: 860px;
    height: 470px;
    margin: 0 auto;
    margin-left: -80px;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: -10px;
    margin-bottom: 40px;
}

.first{
    background-color: #008EA8;
    color: #fff;
}

.second{
    background-color: #008EA8;
}

.third{
    background-color: #008EA8;
    color: #fff;
}

.fourth{
    background-color: #008EA8;      
}

.fifth{
    background-color: #008EA8;
    color: #fff;
    
}

.icon3{
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    /* color: #fff; */
    /* border-color: #008EA8; */
}

.formDoc{
    margin-top: 15px;
    position: relative;
}

.area{
    background-color: #fff;
    border-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 15px;
    height: 100px;
    padding: 0 16px;
    width: 740px;
    box-sizing: content-box;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.check{
    display: flex;
    gap: 10px;
}

.check input{
    width: 20px;
}

.check > div span{
    color: #008EA8;
}

.agree{
    font-size: 13px;
}

.continue2{
    background-color: #008EA8;
    width: 200px;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    padding: 14px;
}

.copyright1{
    color: #707070;
    text-align: center;
    font-size: 12px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.copyright1 span{
    margin-left: 20px;
}

/*Business Information*/
.form2{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    /* width: 100%; */
    width: 850px;
    height: 510px;
    margin: 0 auto;
    margin-left: -80px;
}

.color1{
    background-color: #e3e2e2;
}

.color2{
    background-color: #e3e2e2;
    color: #707070;
}

.color3{
    background-color: #e3e2e2;
}

.colo4{
    background-color: #e3e2e2;
    color: #707070;
}

.formDoc1{
    margin-top: 15px;
    position: relative;
}

.formDoc1 input{
    height: 60px;
}

.opt{
    background-color: rgba(14, 28, 60, 0.05);
    border-style: none;
    /* color: #000; */
    /* border: 1px solid #2c2b2b; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 15px;
    height: 48px;
    padding: 0 16px;
    width: 740px;
    box-sizing: content-box;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.downline1{
    display: flex;
    justify-content: right;
}

/*Referrals section*/
.main{
    position: relative;
}

.totaldash{
    display: flex;
    width: 100%;
    gap: 45px;
}

.dashboard{
    /* width: 23%; */
    height: 945px;
    background-color: #fff;
    color: #000;
    
}

.dash{
    color: #008EA8;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

.line1{
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    width: 311px;
}

.list{
    font-size: 13px;
    list-style: none;
    padding: 20px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    
}

.list1{
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    text-decoration: none;
    color: #000;
}

.list2{
    gap: 20px;
}

.list3{
    display: flex;
    margin-top: 30px;
    gap: 5px;
    text-decoration: none;
    color: #000;
}

.icon4{
    width: 20px;
    height: 22px;
}

.icon5{
    width: 25px;
    height: 12px;
    color: #000;
}

.line2{
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    width: 311px;
}

.support{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

.support1{
    font-size: 13px;
}

.line3{
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 445px;
    width: 311px;
}

.profile{
    display: flex;
    justify-content: left;
    gap: 15px;
    padding: 15px;
}

.jd{
    width: 48px;
    height: 45px;
    background-color: #e3e2e2;
    color: #707070;
    font-size: 23px;
    font-weight: bold;
    border-radius: 30px;
    padding: 9px;
}

.john1{
    font-size: 20px;
    font-weight: bold;
}

.john2{
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

.refer{
    width: 70%;
}

.referr{
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
}

.border1{
    background-color: #fff;
    width: 950px;
    height: 130px;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.refcode{
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.refcode1{
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
}

.refcode2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.refcode3{
    display: flex;
    align-items: center;
    gap: 30px;
}

.icon6{
    width: 100%;
    height: 100%;
    color: #fff;
}

.refcode4{
    width: 112px;
    height: 40px;
    background-color: #008EA8;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 13px;
    padding: 20px;
}

.referral{
    display: flex;
    justify-content: left;
    gap: 40px;
    margin-top: 10px;
}

.totalref{
    width: 207px;
    height: 110px;
    background-color: #fff;
    padding: 23px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

.refA{
    font-size: 13px;
    margin-bottom: 15px;
}

.ref1{
    font-size: 22px;
    font-weight: bold;
}

.ref3{
    font-size: 22px;
    font-weight: bold;
    color: #008EA8;
}

.recent{
    font-size: 23px;
    font-weight: bold;
}

.view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.viewall{
    color: #008EA8;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    
}

.table{
    width: 930px;
}

.table1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 55px;
    margin-bottom: 15px;
    padding: 20px;
}

.data{
    font-size: 12px;
}

.table2{
    /* background-color: #fff; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: -15px;
    /* width: 950px; */
    /* height: 250px; */
}

.table3{
    width: 950px;
    height: 75px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    gap: 123px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.name{
    font-size: 12px;
    font-weight: bold;
}

.airtime{
    font-size: 12px;
}

.amount{
    font-size: 15px;
    font-weight: bold;
    right: 10px;
}

.date{
    font-size: 12px;
}

.completed{
    font-size: 12px;
    width: 85px;
    height: 20px;
    background-color: #bae774;
    color: #033803;
    border-radius: 20px;
    padding: 3px;
    text-align: center;
}

.process{
    font-size: 12px;
    width: 85px;
    height: 20px;
    background-color: yellow;
    color: brown;
    border-radius: 20px;
    padding: 3px;
    text-align: center;
}

/*Earning section*/
.earn{
    width: 70%;
}

.mainearn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.earns{
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
}

.withdraw{
    width: 160px;
    height: 45px;
    background-color: #008EA8;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
}

.time1{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    /* align-items: center; */
}

.alltime{
    background-color: #fff;
    border-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 15px;
    height: 40px;
    padding: 0 16px;
    width: 120px;
    box-sizing: content-box;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tableA{
    width: 990px;
}

.tableB{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 55px; */
    margin-bottom: -5px;
    padding: 20px;
}

.table4{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 0px;
}

.table5{
    width: 950px;
    height: 75px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    gap: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* text-align: center; */
}

/*SMS Messages section*/
.tableC{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.mainmessage{
    width: 70%;
}

.messSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.mess{
    font-size: 23px;
    font-weight: bold;
}

.refresh{
    font-size: 13px;

}

.messageIcon{
    display: flex;
    gap: 10px;
    align-items: center;
}

.messageIcon1{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 110px;
    height: 35px;
    background-color: #fff;
    color: #000;
    border: 0.5px solid #000;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.usa{
    display: flex;
    /* justify-content: last baseline; */
    gap: 15px;
    align-items: center;
}

.usanum{
    font-size: 20px;
    font-weight: bold;
}

.america{
    font-size: 13px;
    margin-top: 5px;
}

.table6{
    width: 950px;
    height: 80px;
    background-color: #fff;
    display: flex;
    /* justify-content: space-around; */
    padding: 25px;
    gap: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* text-align: center; */
}

.table7{
        width: 950px;
        height: 80px;
        background-color: #fff;
        /* display: flex; */
        /* justify-content: space-between; */
        padding: 25px;
        gap: 100px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        /* text-align: center; */
    }

    .table8{
        width: 950px;
        height: 80px;
        background-color: rgba(14, 28, 60, 0.05);
        /* display: flex; */
        /* justify-content: space-between; */
        padding: 25px;
        gap: 100px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        margin-top: 20px;
        /* text-align: center; */
    }

.usa1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foreign{
    font-size: 18px;
    
}

.foreign1{
    color: #008EA8;
    margin-top: -10px;
    margin-bottom: 8px;
    /* font-size: 18px; */
}

.foreign2{
    font-size: 13px;
}

.calendar{
    color: #707070;
    font-size: 13px;
}

.sms{
    font-size: 18px;
    font-weight: bold;
    margin-top: -13px;
    margin-bottom: 10px
}

.calendar1{
    color: #707070;
    font-size: 10.5px;
}

/*Virtual numbers section*/
.virtualsec{
    width: 68%;
    align-items: center;
}

.totalsms1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 39px;
}

.totalsms{
    width: 280px;
    height: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.smsA{
    display: flex;
    /* justify-content: last baseline; */
    gap: 15px;
    align-items: center;
}

.smsB{
    display: flex;
    /* justify-content: last baseline; */
    gap: 15px;
    align-items: center;
    margin-top: 18px;
}


.smsC{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.sms1{
    font-size: 18px;
}

.sms2{
    font-size: 12px;
    margin-top: 10px;
}

.naira{
    color: #008EA8;
    font-size: 15px;
    font-weight: bold;
}

.now{
    width: 85px;
    height: 35px;
    background-color: #008EA8;
    color: #fff;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.now1{
    text-decoration: none;
    color: #fff;
}

.vir{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 120px;
    margin-top: 20px;
}

.vir input{
    background-color: #fff;
    border-style: none;
    /* color: #000; */
    /* border: 1px solid #2c2b2b; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    font-size: 15px;
    line-height: 48px;
    padding: 0 26px;
    width: 650px;
    box-sizing: content-box;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vir1{
    display: flex;
    justify-content: space-around;
    width: 144px;
    gap: 35px;
}

.vir2{
    display: flex;
    gap: 5px;
    align-items: center;
}

.countries{
    font-size: 12px;
}

.icon7{
    width: 7px;
    height: 7px;
}


/*media query*/
@media(max-width: 1024px){
    .virtualsec{
        width: 90%;
    }

    .mainmessage{
        width: 90%;
    }
    
    .table6{
        width: 900px;
    }
}

@media(max-width: 768px){
    .form2{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        width: 100%;
        max-width: 655px;
        height: 510px;
        margin: 0 auto;
        margin-left: 22px;
    }

    .form1{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        width: 100%;
        max-width: 655px;
        height: 470px;
        margin: 0 auto;
        margin-left: 22px;
    }

    .form{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        width: 100%;
        max-width: 655px;
        height: 600px;
        margin: 0 auto;
        margin-left: 22px;
    }

    .formDetails input{
        width: 540px;
        font-size: 13px;
    }

    .opt{
        width: 540px;
    }

    .area{
        width: 540px;
        font-size: 12px;
    }

    .back{
        font-size: 13px;
    }
}
    
    
    @media(max-width: 425px){
        .network{
            font-size: 25px;
        }
       
        .complete{
            font-size: 13px;
        }
        
        .form{
            width: 380px;
            height: 580px;
        }

        .form1{
            width: 380px;
        }
        
        .form2{
            width: 380px;
            height: 490px;
        }

        .formDetails input{
            width: 265px;
        }

        label{
            font-size: 13px;
        }

        .opt{
            width: 265px;
        }

        .area{
            width: 265px;
            font-size: 11px;
        }

        .one, .two, .three{
            width: 90px;
        }

        .icon1{
            width: 30px;
            height: 25px;
        }

        .cont{
            font-size: 20px;
        }

        .continue1{
        width: 100px;
        height: 35px;
        padding: 10px;
        font-size: 13px;
        }

        .continue2{
            width: 140px;
            height: 38px;
            padding: 10px;
            font-size: 13px;
        }
    }

    @media(max-width: 375px){
        .form{
            width: 330px;
            height: 550px;
        }

        .form1{
            width: 330px;
            height: 445px;
        }

        .form2{
            width: 330px;
            height: 460px;
        }
        
        .formControl{
            padding: 30px;
        }

        .formDetails input{
            width: 235px;
            height: 43px;
            font-size: 12px;
        }

        .area{
            width: 235px;
            height: 85px;
        }

        .opt{
            width: 235px;
            height: 43px;
        }

        .one, .two, .three{
            width: 120px;
        }

        .icon1{
            width: 25px;
            height: 20px;
        }

        .cont{
            font-size: 15px;
        }

        .continue{
            font-size: 12px;
        }

        .continue2{
            width: 130px;
            height: 35px;
        }

        .back{
            font-family: 12px;
        }
    }

    @media(max-width: 320px){
        .formControl{
            padding: 20px;
        }

        .form{
            width: 275px;
            height: 545px;
        }
        
        .form1{
            width: 275px;
            height: 440px;
        }

        .form2{
            width: 275px;
            height: 455px;
        }

        .formDetails input{
            width: 202px;
        }

        .area{
            width: 202px;
            font-size: 10px;
        }

        .opt{
            width: 202px;
        }
    }